name: checks

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  check:
    uses: cxreiff/github_workflows/.github/workflows/rust_checks.yml@main
    permissions:
      checks: write
    secrets:
      DEDICATED_TOKEN: ${{ secrets.DEDICATED_TOKEN }}
