name: tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    uses: cxreiff/github_workflows/.github/workflows/rust_tests.yml@main
    secrets:
      DEDICATED_TOKEN: ${{ secrets.DEDICATED_TOKEN }}
    with:
      crate_type: "bin"
      linux_dependencies: "libasound2-dev libudev-dev libwayland-dev libxkbcommon-dev"
